.contacts {
    margin-bottom: 80px;
}

.contacts__title {
    position: relative;
    font-size: 36px;

    &::before {
        content: "";
        position: absolute;
        height: 2px;
        background-color: #68B738;
        width: 94px;
        left: -11%;
        top: 49%;
    }

    &::after {
        content: "";
        position: absolute;
        height: 2px;
        background-color: #68B738;
        width: 835px;
        top: 49%;
        right: -11%;
    }
}

.contacts__row__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacts__form__input {
    width: 486px;
}
